* {
  background-color: #2F343F;
}

.body {
  margin: 0;
  margin-top: 20px;
}

.btn {
  width: 100%;
  color: white;
}

.btn-light {
  background-color: white;
  border: silver
}

li {
  list-style-type: none;
  margin-bottom: 15px;
}

a {
  color: black
}

p {
  color: rgb(241, 241, 241)
}

h2 {
  color: rgb(241, 241, 241);
  text-align: center;
  padding-bottom: 20px;
  border-bottom: rgb(194, 194, 194)
}

hr {
  color: aliceblue
}

.container {
  margin: 0 auto;
  padding: 0;
}

.block {
  margin-bottom: 30px;
}

ul>li {
  color: white;
  display: flex;
}

label {
  color: white
}

.check {
  width: 5%;
}

select,
option {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
