<h2>Add/Edit car</h2>
<form>
  <div class="form-group">
    <label>Brand</label>
    <input class="form-control">
  </div>
  <div class="form-group">
    <label>State</label>
    <input type="number" size="2" max="5" min="1" class="form-control">
  </div>
  <div class="form-group">
    <label>Availability</label>
    <input type="checkbox" class="form-control check">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{{outlet}}