<h2>Cars</h2>

<table class="table table-dark">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand</th>
      <th scope="col">State</th>
      <th scope="col">Availability</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |car|}}
    <tr>
      <th scope="row">{{car._id }}</th>
      <td>{{car.brand }}</td>
      <td>{{car.state }}</td>
      <td><input type="checkbox" name="" checked={{car.availability }} id=""></td>
      <td>{{material-icon "edit"}}</td>
      <td>{{material-icon "delete"}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to "car/add-edit-car" class="btn btn-secondary"}}Add{{/link-to}}

{{outlet}}