<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EmberElectronApi</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{content-for "head"}}

  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
  <link integrity="" rel="stylesheet" href="{{rootURL}}assets/ember-electron-api.css">
  <link rel="stylesheet" href="{{rootURL}}assets/style.css">
  {{content-for "head-footer"}}
</head>

<body>
  {{content-for "body"}}
  <script src="{{rootURL}}assets/vendor.js"></script>
  <script src="{{rootURL}}assets/ember-electron-api.js"></script>

  {{content-for "body-footer"}}
</body>

</html>
