<h2>Add/Edit Client</h2>

<form>
  <div class="form-group">
    <label>FIO</label>
    <input class="form-control">
  </div>
  <div class="form-group">
    <label>Passport</label>
    <input class="form-control">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input class="form-control">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>

</form>
{{outlet}}