<h2>Clients</h2>

<table class="table table-dark">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FIO</th>
      <th scope="col">Passport</th>
      <th scope="col">Phone </th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |client|}}
    <tr>
      <th scope="row">{{client._id }}</th>
      <td>{{client.FIO }}</td>
      <td>{{client.passport }}</td>
      <td>{{client.tel }}</td>
      <td>{{material-icon "edit"}}</td>
      <td>{{material-icon "delete"}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to "client/add-edit-client" class="btn btn-secondary"}}Add{{/link-to}}

{{outlet}}