<h2>Add/Edit Contract</h2>

<form>
  <div class="form-group">
    <label>Car</label>
    <select>
      <option class="form-control"></option>
    </select>
  </div>
  <div class="form-group">
    <label>Client</label>
    <select>
      <option class="form-control"></option>
    </select>
  </div>
  <div class="form-group">
    <label>Day</label>
    <input class="form-control">
  </div>

  <div class="form-group">
    <label>Price</label>
    <input class="form-control">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>

</form>
{{outlet}}