<h2>Contracts</h2>

<table class="table table-dark">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Car</th>
      <th scope="col">Client</th>
      <th scope="col">Day</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |contract|}}
    <tr>
      <th scope="row">{{contract._id }}</th>
      <td>{{contract.id_client }}</td>
      <td>{{contract.id_car }}</td>
      <td>{{contract.date_begin }}</td>
      <td>{{contract.price }}</td>
      <td>{{material-icon "edit"}}</td>
      <td>{{material-icon "delete"}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to "contract/add-edit-contract" class="btn btn-secondary"}}Add{{/link-to}}

{{outlet}}