<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About</h2>
  <p>
    Розробити проект для роботи із APi, що створювалась на практичній роботі №4. Забезпечити CRUD, перегляд інформації
    про записи, загальний список.
  </p>
</div>
{{outlet}}