<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h2>Navigation</h2>
        <ul>
          <li> {{#link-to "index" class="btn btn-secondary"}}Home{{/link-to}}</li>
          <li> {{#link-to "about" class="btn btn-secondary"}}About Us{{/link-to}}</li>
          <li> {{#link-to "contact" class="btn btn-secondary"}}Contact{{/link-to}}</li>
        </ul>
        <hr>
        <ul>
          <li> {{#link-to "car/index" class="btn btn-secondary"}}List cars{{/link-to}}</li>
          <li> {{#link-to "client/index" class="btn btn-secondary"}}List clients{{/link-to}}</li>
          <li> {{#link-to "contract/index" class="btn btn-secondary"}}List contracts{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-9">
        <main>
          {{outlet}}
        </main>
      </div>
    </div>
  </div>
</div>