<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact</h2>
  <ul>
    <li>EMAIL: <span>savonov9@gmail.com</span></li>
    <li>TELEGRAM: <span>pavel_savonov</span></li>
    <li>PHONE: <span>+380686486980</span></li>
  </ul>
</div>
{{outlet}}