<div class="block">
  <h2>Car</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa possimus minus magni enim officia
    accusamus pariatur cum distinctio fuga quae voluptates et facere, ut ipsam sit dicta placeat minima.</p>
  {{#link-to "car/index" class="btn btn-secondary"}}Go to Car{{/link-to}}
</div>
<div class="block">
  <h2>Client</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa possimus minus magni enim officia
    accusamus pariatur cum distinctio fuga quae voluptates et facere, ut ipsam sit dicta placeat minima.</p>
  {{#link-to "client/index" class="btn btn-secondary"}}Go to Client{{/link-to}}

</div>
<div class="block">
  <h2>Contract</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa possimus minus magni enim officia
    accusamus pariatur cum distinctio fuga quae voluptates et facere, ut ipsam sit dicta placeat minima.</p>
  {{#link-to "contract/index" class="btn btn-secondary"}}Go to Contract{{/link-to}}

</div>


{{outlet}}